!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}

    %meta{:property => "og:title", :content => "Hi I'm AJ"}
    %meta{:property => "og:description", :content => "I'm an Entrepeneur and Full-Stack Developer" }
    %meta{:property => "og:image", :content => image_url("bitmoji/aj.png") }
    %title HI I'M AJ
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag  'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body


    %canvas#splash-bg
    #main.hide
      = yield

      .page-footer
    .popping-up

    / images for the background animation, otherwise javascript clears instantiated image elements from memory.
    = image_tag "background/cloud.png", :style => "display: none;", :id => "background-cloud"
    = image_tag "bitmoji/aj_winking.png", :style => "display: none;", :id => "background-troll1"
    = image_tag "bitmoji/aj_surf.png", :style => "display: none;", :id => "background-troll2"
    = image_tag "bitmoji/aj_fire_dab.png", :style => "display: none;", :id => "background-troll3"
    = image_tag "bitmoji/aj_superman.png", :style => "display: none;", :id => "background-troll4"
