!!!
%html
  %head
    %title HI IM AJ
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag  'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body


    %canvas#splash-bg
    #main.hide
      = yield


    .popping-up
    - # images for the background animation, otherwise javascript clears instantiated image elements from memory.
    = image_tag "background/cloud", :style => "display: none;", :id => "background-cloud"
    = image_tag "bitmoji/aj_winking", :style => "display: none;", :id => "background-troll1"
    = image_tag "bitmoji/aj_surf", :style => "display: none;", :id => "background-troll2"
    = image_tag "bitmoji/aj_fire_dab", :style => "display: none;", :id => "background-troll3"
    = image_tag "bitmoji/aj_superman", :style => "display: none;", :id => "background-troll4"
